body {
    /* background-image: url('../images/Coffee.png'); */
    background-color: #2e1c0c;;
    background-size:cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
}


.category-card {
    padding: 10px;
    border-radius: 10px;
    background-color: #bdb1ae;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
}

.category-card:hover {
    transform: scale(1.05);
    background-color: #d3d2d2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #f0e9e7;
    border: none;
}

.category-container {
    display: flex;
    gap: 10px;
    background-color: #f0e9e7;
    padding: 10px;
}

.product-card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
    height: 150px;
    object-fit: cover;
}

.product-badge {
    font-size: 12px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.price-text {
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
}

